.footer{
    border-radius: 10px;
    background-color: var(--color-gray);
    width: 95%;
    justify-content: center;
    margin-top: 2rem;
    padding: 2rem;
    max-width: 1200px;

    &__menu{
        list-style: none;
        text-align: center;
    }
    &__anchor{
        color: var(--color-text-white);
    }
}