div(class='ed-container')
    div(class='ed-item')
        div(class='accordion-container')
            button(class='accordion-container__btn-acc') Futbol Americano 
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Basketball
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Hockey
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Futbol soccer
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Golf
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Boxeo - Mixed Martial Arts MMA-UFC
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Tennis
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Autoracing
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Reglas Generales de Props
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Apuestas Live In-Game Lines
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Targetas Parlay
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Hockey
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Rugby 
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Cricket
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') ESports
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Volleyball 
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Water Polo
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet
            button(class='accordion-container__btn-acc') Handball
            div(class='accordion-container__panel')
                p Lorem ipsum dolor sit amet