div(class='footer ed-container')
    div(class='ed-item s-1-1 m-1-3')
        ul(class='footer__menu ')
            li(class='footer__li'): a(href='#', class='footer__anchor') Deportes
            li(class='footer__li'): a(href='#', class='footer__anchor') Caballos
            li(class='footer__li'): a(href='#', class='footer__anchor') Regístrate
            li(class='footer__li'): a(href='#', class='footer__anchor') Recargas y pagos
    div(class='ed-item s-1-1 m-1-3')
        ul(class='footer__menu ')
            li(class='footer__li'): a(href='#', class='footer__anchor') Acerca de nosotros
            li(class='footer__li'): a(href='#', class='footer__anchor') Términos y condiciones
            li(class='footer__li'): a(href='#', class='footer__anchor') Juego responsable
            li(class='footer__li'): a(href='#', class='footer__anchor') Politica de privacidad
    div(class='ed-item s-1-1 m-1-3')
        ul(class='footer__menu ')
            li(class='footer__li'): a(href='#', class='footer__anchor') Reglas de la casa
            li(class='footer__li'): a(href='#', class='footer__anchor') Reglas de deportes
            li(class='footer__li'): a(href='#', class='footer__anchor') Reglas de poker
