section(class="section-promotions")
    div(class="section-promotions__content")
        p(class="section-promotions__title") Bono Bienvenida Casino
        img(class="section-promotions__img", src="assets/img/Bonuses-External/Bono-de-casino-seccion-bonus.jpg", alt="image bono")
        p(class="section-promotions__title") Bono Bienvenida para Deportes
        img(class="section-promotions__img", src="assets/img/Bonuses-External/Bono-de-bienvenida.jpg", alt="image bono")
    div(class="section-promotions__button")
        a(class="btn btn__registered", href="#") Registrate ya!