section(class='slider-container')
    div(class='tns-carousell' id='tnsCarousell')
        div: div(class='tns-carousell__content'): img(class="tns-carousell__img", src="assets/img/Banking/dolar.png", alt="")
        div: div(class='tns-carousell__content'): img(class="tns-carousell__img", src="assets/img/Banking/dolar.png", alt="") 
        div: div(class='tns-carousell__content'): img(class="tns-carousell__img", src="assets/img/Banking/dolar.png", alt="") 
        div: div(class='tns-carousell__content'): img(class="tns-carousell__img", src="assets/img/Banking/dolar.png", alt="")
        div: div(class='tns-carousell__content'): img(class="tns-carousell__img", src="assets/img/Banking/dolar.png", alt="")
        div: div(class='tns-carousell__content'): img(class="tns-carousell__img", src="assets/img/Banking/dolar.png", alt="")
        div: div(class='tns-carousell__content'): img(class="tns-carousell__img", src="assets/img/Banking/dolar.png", alt="")
        div: div(class='tns-carousell__content'): img(class="tns-carousell__img", src="assets/img/Banking/dolar.png", alt="")
        div: div(class='tns-carousell__content'): img(class="tns-carousell__img", src="assets/img/Banking/dolar.png", alt="")
        div: div(class='tns-carousell__content'): img(class="tns-carousell__img", src="assets/img/Banking/dolar.png", alt="")