section(class='slider-container')
    div(class='tns-single' id='tnsSingle')
        div: div(class='tns-single__content')
            img(src="assets/img/Sliders/banner-clsop-league-1920x600.jpg", alt="image slider")
        div: div(class='tns-single__content')
            img(src="assets/img/Sliders/slider03.jpg", alt="image slider")
        div: div(class='tns-single__content')
            img(src="assets/img/Sliders/slider01.jpg", alt="image slider")
        div: div(class='tns-single__content')
            img(src="assets/img/Sliders/banner-Road.jpg", alt="image slider")